* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {

    background-color: $gray-light;
}
a {
    text-decoration: none; 
    color: inherit; 
  }

.container {
    max-width: 1140px;
    margin: auto;
    padding: 20px;
}