* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #F5F5F5;
}
body .loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s forwards;
}
body .dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9356DC;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
body .d2 {
  animation-delay: 0.05s;
}
body .d3 {
  animation-delay: 0.1s;
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
}
footer h3 {
  font-family: Shrikhand;
  color: #FFFFFF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  color: #FFFFFF;
  margin-top: 5px;
}
footer ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
footer ul li i {
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px 30px 25px;
  }
  footer h3 {
    margin-bottom: 0;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  footer ul li {
    margin-right: 10px;
  }
}
.card {
  background-color: #FFFFFF;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  margin-bottom: 18px;
}
.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  display: block;
}
.card .new {
  background-color: #99E2D0;
  padding: 6px 12px;
  border-radius: 3px;
  color: #008766;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  /* position du boutton */
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}
.card .card-content {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.card .card-content p {
  margin: 10px 0px 0px 0px;
}
.card .card-content .heart {
  position: relative;
}
.card .card-content .heart .fa-solid {
  display: none;
}
.card .card-content .heart:active .fa-regular {
  display: none;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.card .card-content .heart:active .fa-solid {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

body {
  background-color: #FFFFFF;
}

header {
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  justify-content: center;
  align-items: center;
}
header #logo {
  font-family: shrikhand, cursive;
  font-size: 30px;
  text-decoration: none;
}
header #return {
  position: absolute;
  color: #353535;
  font-size: 18px;
  left: 25px;
}

main .banner img {
  width: 100%;
  object-fit: cover;
  height: 260px;
}
main #background {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
  padding: 50px 20px;
}
main #background .main-container {
  margin: auto;
  max-width: 1440px;
}
main #background .main-container .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
main #background .main-container .title-container h2 {
  font-family: shrikhand, cursive;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  unicode-bidi: isolate;
}
main #background .main-container .title-container .heart {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  margin-left: 24px;
}
main #background .main-container .title-container .heart .fa-heart {
  position: absolute;
  top: 0;
  left: 0;
}
main #background .main-container .title-container .heart .fa-solid.fa-heart::before {
  background: transparent;
  color: transparent;
  opacity: 0;
}
main #background .main-container .title-container .heart:hover .fa-solid.fa-heart::before {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 1;
  transition: all 0.5s linear;
}
main #background .main-container #btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 40px;
}
main #background .main-container #btn button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 186px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
main #background .cards-restau {
  margin-top: 20px;
}
main #background .cards-restau h2 {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 300;
  text-align: left;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
main #background .cards-restau .card-restau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 15px 0px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}
main #background .cards-restau .card-restau h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s linear;
}
main #background .cards-restau .card-restau .card-content {
  padding: 13.5px 15px;
  box-sizing: border-box;
  width: 80%;
  flex-shrink: 0;
  transition: all 0.5s linear;
}
main #background .cards-restau .card-restau .card-content h4 {
  font-size: 15.04px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s linear;
}
main #background .cards-restau .card-restau .card-price {
  display: flex;
  align-items: end;
  width: 20%;
  flex-shrink: 0;
  padding: 13.5px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  transition: width 0.5s linear;
}
main #background .cards-restau .card-restau .card-price span {
  font-size: 15.04px;
  padding: 0px 10px;
}
main #background .cards-restau .card-restau .card-anim {
  background-color: #99e2d0;
  color: #fff;
  font-size: 20px;
  padding: 23.5px 20px;
  border-radius: 0 15px 15px 0;
  transform: translateX(100%);
  transition: transform 0.5s linear;
  width: 60px;
  flex-grow: 0;
  box-sizing: border-box;
}
main #background .cards-restau .card-restau:hover .card-anim {
  transform: translateX(0);
}
main #background .cards-restau .card-restau:hover .card-content {
  width: calc(80% - 30px);
}
main #background .cards-restau .card-restau:hover .card-price {
  width: calc(20% - 30px);
}
main #background .cards-restau:nth-child(2) .card-restau {
  animation: fadeIn 0.6s ease forwards 0.2s;
}
main #background .cards-restau:nth-child(3) .card-restau {
  animation: fadeIn 0.6s ease forwards 0.4s;
}
main #background .cards-restau:nth-child(4) .card-restau {
  animation: fadeIn 0.6s ease forwards 0.6s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  main .banner img {
    height: 360px;
  }
  main #background {
    width: 90%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1024px) {
  main .banner img {
    height: 360px;
  }
  main #background {
    width: 80%;
    margin-left: 9%;
  }
}

/*# sourceMappingURL=restau.css.map */
