
header {
    
    display: flex;
    flex-direction: column;
    width: 100%;
  
      

    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        width: 100%;
        box-shadow: 0px 2px 4px 0px $shadow;

        img {
            width: 200px;
            margin: 19px 0px;
        }
    }

    .location {

        text-align: center;
        background-color: #EAEAEA;
        padding: 16px 0px 15px 55px;
        box-shadow: 0px 4px 4px 0px #00000040;

        i {
            margin: 0px 10px 0px 6px;
        }

        input {
            border: none;
            background: none;
            font-size: inherit;
            outline: none;
        }
    }
}


/* ***  section réservation  ***  */
#reservation {
    background-color: $gray-light;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0px 35px 0px 47px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-align: center;
        padding: 30px 0px 10px 0px;
    }

    h2 {
        font-size: 17px;
        font-weight: 300;
        line-height: 21px;
        margin: 0px 36px;
        text-align: center;
    }

    button {
        background: linear-gradient(193.33deg, $purple-light -11.44%, $pink 123.93%);
        color: $white;
        box-shadow: 0px 4px 10px 0px #00000040;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        border: none;
        margin: 20px 0px 50px 5px;
    }
}


/* *** section fonctionnement *** */
.main-container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;

    #fonctionnement {
        width: 100%;
        background-color: $white;        
        box-sizing: border-box;

        h2 {
            margin-bottom: 25px;
        }

        .container {
            padding-top: 50px;
        }
    }

    #detail {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0 0 50px 12px;     

        article {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 30px;
            width: 100%;
            box-sizing: border-box;
            background: #F6F6F6;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px $shadow;

            i {
                margin: 0px 12px;
            }

            p {
                margin-left: 15px;

            }

        }

        article:hover {
            i {
                color: $purple-light;
            }
        }

        div {
            position: relative;
            margin-top: 25px;            
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #9356DC;
            color: #FFFFFF;
            text-align: center;
            line-height: 24px;
        }

    }

    #card-container {
        margin: 28px 0 30px 0;
    }
}


/* *** section restaurant *** */

@media screen and (min-width: 768px) {

    /* *** section fonctionnement *** */
    .main-container {

        #fonctionnement {
            padding: 0px;
            margin: 20px 0px;

            #detail {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;

                div {
                    width: 33%;
                    padding-right: 20px;
                    margin-top: 0;
                }

                article {


                    p {
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                        text-align: left;

                    }

                }
            }
        }


    }

    #cards {

        #card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            row-gap: 50px;
            column-gap: 100px;            
        }
    }

}

@media screen and (min-width: 1024px) {

    #reservation {
        h1 {
            font-family: Roboto;
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            text-align: center;

        }

        h2 {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 21.09px;
            text-align: center;
        }
    }

    .main-container {

        #fonctionnement {
            width: 100%;
            padding: 0px;
            margin: 20px 0px;

            #detail {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 40px;

                div {
                    width: 33%;
                }

                article {
                    width: auto;

                    p {
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                        text-align: left;

                    }

                }
            }
        }
    }



    @media screen and (min-width: 1280px) {

        .main-container {
            #fonctionnement {
                width: 100%;
                padding: 0px;
                margin: 20px 0px;

                #detail {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 40px;

                    div {
                        width: 33%;
                    }

                    article {
                        width: auto;

                        span {
                            position: absolute;
                            top: 70%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
                    }
                }
            }

        }

    }

}


























