body {
  background-color: $white;
}
header {
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px $shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  #logo {
    font-family: shrikhand, cursive;
    font-size: 30px;
    text-decoration: none;
  }
  #return {
    position: absolute;
    color: #353535;
    font-size: 18px;
    left: 25px;
  }
}

main {
  .banner {
    img {
      width: 100%;
      object-fit: cover;
      height: 260px;
    }
  }
  #background {
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin-top: -50px;
    padding: 50px 20px;

    .main-container {
      margin: auto;
      max-width: 1440px;
      
      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        h2 {
          font-family: shrikhand, cursive;
          display: block;
          font-size: 1.5em;
          font-weight: bold;
          unicode-bidi: isolate;
        }
        .heart {
          position: relative;
          width: 18px;
          height: 18px;
          overflow: hidden;
          margin-left: 24px;

          .fa-heart {
            position: absolute;
            top: 0;
            left: 0;
            
          }  
          .fa-solid.fa-heart::before {
            background: transparent;
            color: transparent;
            opacity: 0;
          }
          
          &:hover {
            .fa-solid.fa-heart::before {
              background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;   
              opacity: 1;           
              transition: all .5s linear;
            }
          }


        }
      }

      #btn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 40px;
        button {
          background: linear-gradient(
            193.33deg,
            #9356dc -11.44%,
            #ff79da 123.93%
          );
          color: white;
          box-shadow: 0px 4px 10px 0px #00000040;
          width: 186px;
          height: 50px;
          border-radius: 25px;
          font-size: 16px;
          font-weight: 500;
          border: none;
        }
      }
    }

    .cards-restau {
      margin-top: 20px;

      h2 {
        font-family: Roboto;
        font-size: 19px;
        font-weight: 300;
        text-align: left;
        border-bottom: 3px solid #99e2d0;
        width: 40px;
      }

      .card-restau {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        margin: 15px 0px;
        box-shadow: 0px 4px 15px 0px #0000001a;
        border-radius: 15px;
        overflow: hidden;
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 0;
        transform: translateY(20px);
        h3 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all .5s linear;
        }

        .card-content {
          padding: 13.5px 15px;
          box-sizing: border-box;
          width: 80%;
          flex-shrink: 0;
          transition: all .5s linear;

          h4 {
            font-size: 15.04px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all .5s linear;
          }
        }

        .card-price {
          display: flex;
          align-items: end;
          width: 20%;
          flex-shrink: 0;
          padding: 13.5px 15px;
          box-sizing: border-box;
          display: flex;
          justify-content: end;
          transition: width .5s linear;

          span {
            font-size: 15.04px;
            padding: 0px 10px;
          }
        }

        .card-anim {
          background-color: #99e2d0;
          color: #fff;
          font-size: 20px;
          padding: 23.5px 20px;
          border-radius: 0 15px 15px 0;     
          transform: translateX(100%);
          transition: transform .5s linear;
          width: 60px;
          flex-grow: 0;
          box-sizing: border-box;
          // display: none;
        }
        &:hover {
          .card-anim{
            transform: translateX(0);  
          }

          .card-content {
            width: calc(80% - 30px);
          }
          
          .card-price {
            width: calc(20% - 30px);
          }
        }
      }
     
      &:nth-child(2) .card-restau{
        animation: fadeIn 0.6s ease forwards 0.2s; 
      }

      &:nth-child(3) .card-restau {
        animation: fadeIn 0.6s ease forwards 0.4s; 
      }

      &:nth-child(4) .card-restau {
        animation: fadeIn 0.6s ease forwards 0.6s; 
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .banner {
      img {
        height: 360px;
      }
    }
    #background {
      width: 90%;
      margin-left: 3%;
    }
  }
}
@media screen and (min-width: 1024px) {
  main {
    .banner {
      img {
        height: 360px;
      }
    }
    #background {
      width: 80%;
      margin-left: 9%;
    }
  }
}
