

header {
    display: flex;
    flex-direction: column;
    width:100%;

    #logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:$white;
        width:100%;
        box-shadow: 0px 2px 4px 0px $shadow;

            img{
                width: 200px;
                margin: 19px 0px;
            }
    }
    .location {
  
        text-align: center; 
        background-color: #EAEAEA;
        padding: 16px 0px 15px 55px;
        box-shadow: 0px 4px 4px 0px #00000040;

        i {
            margin: 0px 10px 0px 6px;
          }
        input {
            border: none; 
            background: none;
            font-size: inherit; 
            outline: none; 
          }
      }
}


/* ***  section réservation  ***  */
#reservation{
    background-color:$gray-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 0px 35px 0px 47px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing:0.02em;
        text-align: center;
        padding: 30px 0px 10px 0px;
    }
    h2{
        font-size: 17px;
        font-weight: 300;
        line-height: 21px;
        margin: 0px 36px;
        text-align: center;
    } 
    button{
        background: linear-gradient(193.33deg,$purple-light -11.44%, $pink 123.93%);
        color:$white;
        box-shadow: 0px 4px 10px 0px #00000040;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        border: none;
        margin: 20px 0px 50px 5px;
    }
}


/* *** section fonctionnement *** */
.main-container {
    // max-width: 1140px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;

    #fonctionnement{
        width: 100%;
        background-color:$white;
        padding: 0%;
        }

        h2{
            padding: 25px 0px 0px 20px;
        }
        #detail {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-bottom: 50px;
            
            article{
                display: flex;
                align-items: center;
                text-align: center;
                padding: 20px;
                width: 75%;
                background: #F6F6F6;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px $shadow;
                margin: 40px 0px 0px 30px;

                    i{
                        margin: 0px 12px;
                    }
                    p {
                        margin-left: 15px;
                        
                    }
                
            }
            article:hover {
                i{
                    color:$purple-light;
                }
            } 
            div {
                position: relative;
                padding-left: 10px;
              }
            span {
                position: absolute;
                top: 70%;
                transform: translateY(-50%);
                left: 25px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #9356DC;
                color: #FFFFFF;
                text-align: center;
                line-height: 24px;
            } 
            
          }
}


/* *** section restaurant *** */

 #cards {
    
 h2 {
        padding: 30px 0px 0px 12px;
    }
}

@media screen and (min-width: 768px) {

/* *** section fonctionnement *** */
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

            #fonctionnement{
                display: flex;
                flex-direction: column;
                padding: 0px;
                margin: 20px 0px;
               

                h2{
                    padding: 25px 0px 10px 8%;
                }
                    #detail {
                        display: flex;
                        flex-direction: row;
                        width: 88%;
                        padding-left: 8%;
                        margin-bottom: 40px;
        
                        div{
                         width: 33%;
                            padding-right: 20px;
                        }
                    
                        article{
                            
                            padding: 18px;
                            margin: 10px 0px 0px 0px;
        
                            p{
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 18.75px;
                                text-align: left;
        
                            }
        
                        }
                        span {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0px;
                            width: 24px; 
                            height: 24px; 
                            border-radius: 50%; 
                            background-color:$purple-light;
                            color:$white;
                            text-align: center; 
                            line-height: 24px; 
                        }
                    }
            }
        
            
    }

    #cards{
        display: flex;
        flex-direction: column;
        width: 90%;
        h2 {
            padding: 30px 0px 0px 17px;
        }

       #card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
       }
        .card {
            width: calc(50% - 40px);
        }
    }
    footer{
        display: flex;
        flex-direction: row-reverse;
        height: 140px;
        h3{
            // padding:70px 15px;
            margin: 90px 0px 0px 0px;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding:15px;
            margin: 80px 0px 0px 0px;
           li{
            margin-right: 10px;
           }
        }
    }
}
@media screen and (min-width: 1024px) {

    #reservation {
        h1{
            font-family: Roboto;
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            text-align: center;

        }
        h2{
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 21.09px;
            text-align: center;
            }
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

            #fonctionnement{
                width: 100%;
                padding: 0px;
                margin: 20px 0px;
                h2{
                    padding: 25px 0px 10px 7%;
        }
                #detail {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 88%;
                    padding-left: 7%;
                    margin-bottom: 40px;
    
                    div{
                        width: 33%;
                    }
                  
                    article{
                        width: auto;
                        padding: 18px;
                        margin: 40px 0px 0px 20px;
    
                        p{
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 18.75px;
                            text-align: left;
    
                        }
      
                    }
                    span {
                        position: absolute;
                        top: 70%;
                        transform: translateY(-50%);
                        left: 10px;
                        width: 24px; 
                        height: 24px; 
                        border-radius: 50%; 
                        background-color:$purple-light;
                        color:$white;
                        text-align: center; 
                        line-height: 24px; 
                    }
                }
            }     
    }

    #cards{
        display: flex;
        flex-direction: column;
        width: 90%;
            h2 {
            padding: 30px 0px 0px 17px;
            }

       #card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      
       }
        .card {
            width: calc(48% - 40px);
        }
    }


    @media screen and (min-width: 1280px) {
       
        .main-container { 
             #fonctionnement{
            width: 100%;
            padding: 0px;
            margin: 20px 0px;
            h2{
                padding: 25px 0px 10px 11%;
            }
        
            #detail{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 78%;
                padding-left: 10%;
                margin-bottom: 40px;

                div{
                    width: 33%;
                }

                article{
                    width: auto;
                    padding: 20px;
                        span{
                            position: absolute;
                            top: 70%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
                }
            }
        }

        }
        #cards{
            width: 80%;
            padding: 0px 0%;
        }
    }





















    // .main-container { 

    //     #fonctionnement{
    //     width: 80%;
    //     padding: 0px 10%;
    //     margin: 20px 0px;
    // }
    // #detail {
    //     display:flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    //     width: 100%;
    //     margin-bottom: 40px;
      
    //     article{
    //         width: auto;
    //         // margin: 40px 0px 0px 0px;
    //         padding: 20px;
    //     }
    // }
// }
}




























/* .cards {
    max-width: 756px;
}

.card article {
    width: 95%; 
    max-width: 100%; 
    margin: 5px; 
}
.card article img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
} */
